$dark: #022621;
$font-size-base:1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.5 ;
$primary: #609BDD;
$card-bg: rgba(255,255,255,.9);
$i-width: 100%;
$i-height: 560 * $i-width /315;


@import "bs/functions";
@import "bs/variables";
@import "bs/mixins";
// @import "bs/root";
@import "bs/reboot";
@import "bs/type";
@import "bs/images";
@import "bs/code";
@import "bs/grid";
// @import "bs/tables";
@import "bs/forms";
@import "bs/buttons";
@import "bs/transitions";
// @import "bs/dropdown";
@import "bs/button-group";
// @import "bs/input-group";
// @import "bs/custom-forms";
@import "bs/nav";
@import "bs/navbar";
@import "bs/card";
// @import "bs/breadcrumb";
// @import "bs/pagination";
// @import "bs/badge";
@import "bs/jumbotron";
// @import "bs/alert";
// @import "bs/progress";
// @import "bs/media";
@import "bs/list-group";
// @import "bs/close";
// @import "bs/modal";
// @import "bs/tooltip";
// @import "bs/popover";
// @import "bs/caroimportl";
@import "bs/utilities";
// @import "bs/print";

html,body{
  overflow-x: hidden;
  overflow-y: visible;
}

.hero{
  background-image: url(../img/hero-bg.svg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  padding-bottom: 200px;
  margin-bottom: 200px;
  padding-top: 56px;
  overflow-y: visible;

}
.navbar-brand{
  font-family: futura-medium;
  margin-top: -5px;
  position: relative;
    .brand-txt{
      top: 5px ;
      left: 56px;
      display: inline-block;
      position: absolute;
      letter-spacing: 0.5px;
    }
}
.nav-link{
  margin-left: 24px;
}
.display-1{
  font-family: -apple-system;
}
.a{
  border: 5px solid black;
}
.hero-animated-container{
  position: relative;
  .hero-animated{
    background-image: url(../img/hero-animation.svg);
    content: '';
    background-position: left;
    position: absolute;
    top: -40px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
  }
}
.btn{
  color: #12100E;
}
.features{
  background-image: url(../img/feature-bg.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  padding-bottom: 150px;

  img{
    width: 48px;
  }
}
.video{
  margin-top: -1px;
  padding: 25px 0 100px 0;
  background-color: #21998B;
  
  
}
.stats{
  margin-top: -1px;
  padding: 100px 0;
}
.timeline{
  background-color: rgba($color: #000000, $alpha: 0.1);
}