<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initital-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <title>Timetable Upload</title>
    </head>
    <body>
        <div class="container">
            <h1>FREE SLOTS FINDER</h1>
            <%= typeof msg != 'undefined' ? msg : ''; %>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                    <div class="file-field input-field">
                      <div class="btn grey">
                        <span>Browse</span>
                        <input name="myImage" type="file">
                      </div>
                      <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                      </div>
                    </div>
                    <button type="submit" class="btn">Upload</button>
                  </form>
                  <br>
                  <img src="<%= typeof file != 'undefined' ? file : ''; %>" class="responsive-img">
        </div>
            <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>