<html>
    <head>
    <title>Timetable Uploaded</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="background-color:#74b8cc";>
    
    <style type="text/css">

        #title{
            display:grid;
            align-items:center;
            justify-content:center;
        }

        .main{
            display:flex;
            align-items:center;
            justify-content:center;
            padding-top:10%;
            /* padding-left:10%; */
            font-size:180%;
        }
    
    </style>

    <div class="jumbotron jumbotron-fluid" id="title">
        <div class="container" >    
            <p class="display-4" ><span>Free Slot Finder</span></p>
        </div>
    </div>

    <!-- <div class="main">
    Your free slots are: 
    <br>
    <table>
            <% for(var i=0; i < results.length; i++) { %>  
            <tr>
                 <td><%= results[i] %></td>
                 </tr>
            <% } %>
            </table>
    
  
    </div> -->

    <div>
        <%= results %>
        
    </div>
    <script src="/assets/user-list.js"></script> 

    </body>
</html>
