$dark: #022621;
$font-size-base:1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.5 ;
$primary: #11B9F0;
$secondary: #fff;

$card-bg: rgba(255,255,255,.9);
$i-width: 100%;
$i-height: 560 * $i-width /315;
$display1-size: 5.5rem;



@import "bs/functions";
@import "bs/variables";
@import "bs/mixins";
// @import "bs/root";
@import "bs/reboot";
@import "bs/type";
@import "bs/images";
@import "bs/code";
@import "bs/grid";
// @import "bs/tables";
@import "bs/forms";
@import "bs/buttons";
@import "bs/transitions";
// @import "bs/dropdown";
@import "bs/button-group";
// @import "bs/input-group";
// @import "bs/custom-forms";
@import "bs/nav";
@import "bs/navbar";
@import "bs/card";
@import "bs/breadcrumb";
@import "bs/pagination";
@import "bs/badge";
@import "bs/jumbotron";
@import "bs/alert";
@import "bs/progress";
@import "bs/media";
@import "bs/list-group";
@import "bs/close";
@import "bs/modal";
@import "bs/tooltip";
@import "bs/popover";
@import "bs/carousel";
@import "bs/utilities";
@import "bs/print";
@import "index-sm";
@import "index-md";

// html{
//   background-color: 032621;
// }
html,body{
  overflow-x: hidden;
  overflow-y: visible;
  
}


.hero{
  position: relative;
  
  padding-bottom: 200px;
  margin-bottom: 55vw;
  padding-top: 56px;
  overflow-y: visible;
  .bg{
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    background-image: url(../img/hero-bg.svg);
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  }
.navbar{
  color: white;
  .btn-login{
    color: #24CD98 !important;
  }
  .btn-signup{
    color: #11B9F0 !important;
  }
  .btn{
    width: 120px;
  }
}
.btn:active {
  transform: scale(0.95);
}
}
.navbar-brand{
  font-family: futura-medium;
  margin-top: -5px;
  position: relative;
    .brand-txt{
      top: 5px ;
      left: 56px;
      display: inline-block;
      letter-spacing: 0.5px;
    }
}
.nav-link{
  margin-left: 24px;
}
.display-1{
  font-family: -apple-system;
}
.hero-animated-container{
  position: relative;
  .hero-animated{
    background-image: url(../img/hero-animation.svg);
    content: '';
    background-position: left;
    position: absolute;
    top: -110px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
  }
}
.btn{
  color: #12100E;
}
.features{
  background-image: url(../img/feature-bg.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  padding-bottom: 150px;

  img{
    width: 48px;
  }
}
.video{
  margin-top: -1px;
  padding: 25px 0 100px 0;
  background-color: #24CD98;
  color: white;
  
  .jumbotron{
    color: black;
  }
  
  
}
.stats{
  margin-top: -1px;
}
.links{
  background-color: rgba($color: #000000, $alpha: 0.1);
}
.contact{
  background-color: #022621;
  color: white !important;
  a{
    color: white;
  }
  img{
    width: 250px;
  }
  .social{
    
    font-size: 20px;
    
  }
}
@media (min-width: 576px) {
  .hero{
    margin-bottom: 65vw;

  }
  .hero-animated-container{
    
    .hero-animated{
      top: -150px;
      height: 800px;
    }
  }
  .features{
    
    padding-bottom: 250px;
  
  }
  .social{
    
    font-size: 30px;
    
  }

}
@media (min-width: 768px) {
  .hero{
    
    padding-bottom: 50px;
    overflow-y: visible;
    margin-bottom: 5vw;

  
  }
  .nowrap-md{
    white-space: nowrap;
  }
  .hero-animated-container{
    .hero-animated{
      top: 40px;
      height: 600px;
    }
  }
}
@media (min-width: 992px) {
  .hero{
    padding-bottom: 125px;

  }
  .hero-animated-container{
    .hero-animated{
      top: 0px;
      
    }
  }
}
@media (min-width: 1200px) {
  .hero{
    padding-bottom: 200px;

  }
  .hero-animated-container{
    .hero-animated{
      height: 800px;
      top: -80px;
      
    }
  }
}

.modal{
  .close{
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 10000;
    pointer-events:auto;
    width: 40px;
    height: 40px;

  }
  .modal-header{
    background-color: transparent;
    border: 0;

  }
    
  .modal-body{
    position: relative;
    background-color: #fff;
    margin: 0;
    min-height: 90vh;
    overflow: hidden;
    pointer-events: none;

  }

  .forms-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  form.sign-up-form {
    opacity: 0;
    z-index: 1;
  }

  form.sign-in-form {
    z-index: 2;
  }

  .title {
    font-size: 2.2rem;
    color: #444;
    margin-bottom: 10px;
  }

  .input-field {
    min-width: 300px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 27.5px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
  }

  .input-field svg {
    margin-top: 0.7rem;
    text-align: center;
    line-height: 55px;
    color: black;
    transition: 0.5s;
    font-size: 2rem;
  }

  .input-field input {
    background: none;
    outline: none;
    border: none;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
  }

  .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
  }

  .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
  }

  .social-media {
    display: flex;
    justify-content: center;
  }

  .social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #333;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
  }

  .social-icon:hover {
    color: #11B9F0;
    border-color: #11B9F0;
  }

  .btn {
    width: 150px;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 24.5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: 0.5s;
  }

  .panels-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-body:before {
    content: "";
    position: absolute;
    height: 2000px;
    width: 2000px;
    top: -10%;
    right: 48%;
    transform: translateY(-50%);
    background-color: #24CD98;
    transition: 1.8s ease-in-out;
    border-radius: 50%;
    z-index: 6;
  }

  .image {
    width: 100%;
    transition: transform 1.1s ease-in-out;
    transition-delay: 0.4s;
  }

  .panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    z-index: 6;
  }

  .left-panel {
    pointer-events: all;
    padding: 3rem 17% 2rem 12%;
  }

  .right-panel {
    pointer-events: none;
    padding: 3rem 12% 2rem 17%;
  }

  .panel .content {
    color: #fff;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel h3 {
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
  }

  .panel p {
    font-size: 0.95rem;
    padding: 0.7rem 0;
  }

  .btn.transparent {
    margin: 0;
    background: none;
    border: 2px solid #fff;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateX(800px);
  }

  /* ANIMATION */

  .modal-body.sign-up-mode:before {
    transform: translate(100%, -50%);
    right: 52%;
  }

  .modal-body.sign-up-mode .left-panel .image,
  .modal-body.sign-up-mode .left-panel .content {
    transform: translateX(-800px);
  }

  .modal-body.sign-up-mode .signin-signup {
    left: 25%;
  }

  .modal-body.sign-up-mode form.sign-up-form {
    opacity: 1;
    z-index: 2;
  }

  .modal-body.sign-up-mode form.sign-in-form {
    opacity: 0;
    z-index: 1;
  }

  .modal-body.sign-up-mode .right-panel .image,
  .modal-body.sign-up-mode .right-panel .content {
    transform: translateX(0%);
  }

  .modal-body.sign-up-mode .left-panel {
    pointer-events: none;
  }

  .modal-body.sign-up-mode .right-panel {
    pointer-events: all;
  }

  @media (max-width: 992px) {
    .modal-body {
      min-height: 800px;
      height: 100vh;
    }
    .signin-signup {
      width: 100%;
      top: 95%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
    }

    .signin-signup,
    .modal-body.sign-up-mode .signin-signup {
      left: 50%;
    }

    .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
    }

    .right-panel {
      grid-row: 3 / 4;
    }

    .left-panel {
      grid-row: 1 / 2;
    }

    .image {
      width: 200px;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.6s;
    }

    .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
    }

    .panel h3 {
      font-size: 1.2rem;
    }

    .panel p {
      font-size: 0.7rem;
      padding: 0.5rem 0;
    }

    .btn.transparent {
      width: 110px;
      height: 35px;
      font-size: 0.7rem;
    }

    .modal-body:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-50%);
      left: 30%;
      bottom: 68%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
    }

    .modal-body.sign-up-mode:before {
      transform: translate(-50%, 100%);
      bottom: 32%;
      right: initial;
    }

    .modal-body.sign-up-mode .left-panel .image,
    .modal-body.sign-up-mode .left-panel .content {
      transform: translateY(-300px);
    }

    .modal-body.sign-up-mode .right-panel .image,
    .modal-body.sign-up-mode .right-panel .content {
      transform: translateY(0px);
    }

    .right-panel .image,
    .right-panel .content {
      transform: translateY(300px);
    }

    .modal-body.sign-up-mode .signin-signup {
      top: 5%;
      transform: translate(-50%, 0);
    }
  }

  @media (max-width: 570px) {
    form {
      padding: 0 1.5rem;
    }

    .image {
      display: none;
    }
    .panel .content {
      padding: 0.5rem 1rem;
    }
    .modal-body {
      padding: 1.5rem;
    }

    .modal-body:before {
      bottom: 72%;
      left: 50%;
    }

    .modal-body.sign-up-mode:before {
      bottom: 28%;
      left: 50%;
    }
  }

    

}


